.single {
  margin-bottom: 100px;
}

.single img {
  max-width: 100%;
}

.single > div > .banner-img {
  width: 100% !important;
  max-height: 300px !important;
  object-fit: cover !important;
}

.cover-img {
  border: 2px solid #fff;
  position: relative;
  top: -140px;
  margin-right: 20px;
}

.single-main-div {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.trailer_url {
  text-decoration: underline !important;
  color: blue;
}

.single h1,
.single h2 {
  color: #4142af;
}

.reviews {
  width: 80%;
  margin: 0 auto;
}

.write-review {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.reviews textarea {
  margin: 10px 0;
  padding: 12px 16px;
}

.reviews input {
  padding: 8px 10px;
  margin-bottom: 10px;
}

.submit {
  width: fit-content;
}

.submit:hover {
  cursor: pointer;
}

.reviews input:focus,
.reviews textarea:focus {
  outline: none;
}

.review-box {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  min-height: 80px;
  padding: 20px 20px 20px 0;
}

.review-box img {
  width: 50px;
  height: 50px;
  position: relative;
  left: -25px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 999px;
}

.review-box p:first-child {
  margin-bottom: 10px;
}
