.card {
  padding: 2%;
  border: 1px solid black;
  margin: 4%;
  background-color: #fff;
  transition: all 0.5s;
  border-radius: 6px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: scale(1.05, 1.05);
}

.card > img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

.genre {
  background-color: #ededed;
  padding: 4px;
  line-height: 2;
  border-radius: 3px;
  margin: 8px 2px;
}

.genre-list {
  word-break: break-word;
}
